<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="/frontend-practice/social-links-profile/assets/images/favicon-32x32.png">

  <link rel="stylesheet" href="/frontend-practice/normalize.css">
  <link rel="stylesheet" href="/frontend-practice/social-links-profile/style.css">
  
  <title>Frontend Mentor | Social links profile</title>

  <!-- Not related to project -->
  <style>
    .attribution { font-size: 11px; text-align: center; padding: 10px }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
  <main>
    <img alt="profile photo" src="/frontend-practice/social-links-profile/assets/images/avatar-jessica.jpeg">
    <h1>Jessica Randall</h1>
    <p id="location">London, United Kingdom</p>
    <p id="description">"Front-end developer and avid reader."</p>
  
    <a class="social" href="">GitHub</a>
    <a class="social" href="">Frontend Mentor</a>
    <a class="social" href="">LinkedIn</a>
    <a class="social" href="">Twitter</a>
    <a class="social" href="">Instagram</a>
  </main>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://garden.arthurs.dev">Arthur Schevey</a>.
  </div>
</body>
</html>