---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/frontend-practice/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro Playground</h1>
		<strong>Why am I using Astro?</strong>
		<p>Astro allows me to easily take advantage of many different tools all in the same project.</p>

		<h2>Navigate</h2>
		<a href="/frontend-practice/card">Card</a>
	</body>
</html>
